h2 , h3{
    font-family: 'Lato', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

button{
    font-size: 12px;
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    border: 0px;
    padding: 12px 20px;
    border-radius: 10px;
}

/* section-01 */

.section-01{
    display: inline-flex;
    background-color: rgba(229, 84, 115, 0.1);
    height: 580px;
    justify-content: space-between;
}

.section-01 h2{
    font-size: 50px;
    font-weight: bold;
}

.section-01 p{
    font-size: 10px;
}

.section-01 img{
    height: 500px;
    padding: 80px 180px 0px 100px;
}

.section-01 .headding-text{
    padding: 100px 10px 100px 150px;
}